{% extends 'base.html.twig' %}

{% block title %}Extract{% endblock %}

{% block body %}
<div>
    <form method="post" action="{{ path('extract') }}" enctype="multipart/form-data">
        <label>upload an excel file
            <input name="file" type="file" accept="application/vnd.openxmlformats-officedocument. spreadsheetml.sheet">
        </label>
        <button>extract</button>
    </form>
</div>
{% endblock %}
